/*-----------------------google fonts */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap');

/*-----------------------universal styling */

body {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}

a {
    color: #605C37;
    font-weight: 700;
}

a:hover {
    color: #DBDCDE;
}

/*-----------------------colours */

.header {
    background-color: #BFB298;
    color: #773815;
}

.nav,
.navbar {
    background-color: #BFB298;
}

#home {
    background-color: #BFB298;
    color: #773815;
}

.opening-times {
    background-color: #BFB298;
}

.eat h1 {
    background-color: #DBDCDE;
    color: #605C37;
}

.starters, 
.mains, 
.desserts {
    background-color: #DBDCDE;
    color: #605C37;
}

.drinks {
    color: #DBDCDE;
}


/*-----------------------images */

.home {
    background-image: url(../images/inside-restaurant.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.drinks {
    background-image: url(../images/drinks.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/*-----------------------header */

.restaurant-name {
    padding: 5px 0 0 15px;
    text-align: center;
}


.logo img {
    max-height: 120px;
    padding-top: 15px;
}

/*-----------------------nav */



/*-----------------------home */

.opening-times {
    margin-top: 15px;
}

/*-----------------------eat */

.eat {
    text-align: center;
    margin-bottom: 15px;
}

.starters, 
.mains, 
.desserts {
    min-height: 340px;
    max-height: 350px;
    margin-bottom: 15px;
}

/*-----------------------drinks */

.drinks {
    text-align: center;
    margin-bottom: 15px;
}

.soft-drinks,
.hot-drinks,
.alcohol {
    margin-bottom: 15px;
    padding-top: 15px;
}
