/*-----------------------google fonts */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap');

/*-----------------------universal styling */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}

a {
    color: #605C37;
    font-weight: 700;
}


/*-----------------------colours */

a:hover {
    color: #DBDCDE;
}

.header {
    background-color: #BFB298;
    color: #773815;
}

.nav,
.navbar {
    background-color: #BFB298;
}

.about,
.opening-times {
    background-color: rgba(191, 178, 152, 0.8);
    color: #773815; 
}

.eat h2 {
    background-color: #DBDCDE;
    color: #605C37;
}

.starters, 
.mains, 
.desserts {
    background-color: #DBDCDE;
    color: #605C37;
}

.drinks {
    color: #DBDCDE;
}

.drinks h2 {
    background-color: rgba(38, 36, 22, 0.5);
}

.soft-drinks,
.hot-drinks,
.alcohol {
    background-color: rgba(38, 36, 22, 0.5);
}

.visit h2 {
    background-color: #DBDCDE;
    color: #605C37;
}

.address {
    background-color: #DBDCDE;
    color: #605C37;
}

.reviews {
    background-color: rgba(191, 178, 152, 0.8);
    color: #773815; 
}

.reviews-heading {
    background-color: rgba(191, 178, 152, 0.8);
    color: #773815;
}

footer {
    background-color: #DBDCDE;
    color: #605C37;
}

.external-links a:hover {
    color: #773815;
}

/*-----------------------images */

.home {
    background-image: url(../images/plated-dumplings.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#drinks {
    background-image: url(../images/drinks.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#reviews {
    background-image: url(../images/dumplings.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*-----------------------header */

.restaurant-name {
    padding: 5px 0 0 15px;
    text-align: center;
}


.logo img {
    max-height: 120px;
    padding-top: 15px;
}

/*-----------------------nav */


ul {
    list-style: none;
    display: inline-block;
}

li {
    display: inline-block;
}


/*-----------------------home */

#home > div {
    min-height: 60vh;
}

.opening-times {
    margin: 3rem 0 0 2rem;
    padding: 1rem 1rem 1rem 1rem;
}

.opening-times h2 {
    font-size: large;
}

.opening-times p {
    font-size: x-small;
    font-weight: 600;
}

.about {
    margin: 3em 2em 3em 2em;
    padding: 1em 1em 1em 1em;
    text-align: center;
}

/*-----------------------eat */

#eat {
    padding-top: 30px;
}

#eat > div {
    min-height: 90vh;
}

.eat {
    text-align: center;
}

.eat h2 {
    margin-bottom: 1.75em;
    padding: 1em 1em 1em 1em;
}

.starters, 
.mains {
    margin: 0 2em 3em 2em;
    padding: 1em 1em 1em 1em;
}

.desserts {
    margin: 0 2em 3em 2em;
    padding: 1em 1em 1em 1em;
}

/*-----------------------drinks */

#drinks {
    padding-top: 30px;
}

#drinks > div {
    min-height: 90vh;
}

.drinks {
    text-align: center;
}

.drinks h2 {
    margin-bottom: 1.75em;
    padding: 1em 1em 1em 1em;
}

.soft-drinks,
.hot-drinks {
    margin: 0 2em 3em 2em;
    padding: 1em 1em 1em 1em;
}

.alcohol {
    margin: 0 2em 3em 2em;
    padding: 1em 1em 1em 1em;
}

/*-----------------------address */

#visit {
    text-align: center;
    padding-top: 30px;
}

#visit > div {
    min-height: 50vh;
}


.visit h2 {
    margin-bottom: 1.75em;
    padding: 1em 1em 1em 1em;
}

.address {
    margin: 0 2em 3em 2em;
    padding: 1em 1em 1em 1em;
}


iframe {
    padding: 0 2em 3em 2em;
}

/*-----------------------reviews */

#reviews {
    text-align: center;
    padding-top: 35px;
}

#reviews > div {
    min-height: 80vh;
}

.reviews {
    margin: 8em 2em 3em 2em;
    padding: 1em 1em 1em 1em;
}

.reviews-heading {
    margin-bottom: 1.75em;
    padding: 1em 1em 1em 1em;
}

/*-----------------------footer */

footer {
    text-align: center;
}

.external-links a:hover {
    text-decoration: none;
}

.registered-address,
.email,
.external-links {
    padding: 1rem 1rem 1rem 1rem;
}

.registered-address h3,
.email h3 {
    font-size: medium;
}

.registered-address p,
.email p {
    font-size: small;
}

/*-----------------------media queries */

@media only screen and (min-width: 768px) {
    
    .opening-times p {
        font-size: medium;
    }

    .opening-times {
        min-height: 462.66px;
        margin: 3em 1em 3em 2em;
    }

    .about {
        min-height: 462.66px;
        margin: 3em 2em 3em 1em;
    }

    .about p {
        font-size: larger;
        padding: 7em 1em;
    }

    .starters, 
    .mains {
        min-height: 462.66px;
    }

    .starters {
        margin: 0 1em 3em 2em;
    }

    .mains {
        margin: 0 2em 3em 1em;
    }


    .soft-drinks {
        margin: 0 1em 3em 2em;
    }

    .hot-drinks {
        margin: 0 2em 3em 1em;
    }

    .medium-padding-left {
        padding-left: 0;
    }

    .medium-padding-right {
        padding-right: 0;
    }

    .hot-drinks {
        min-height: 353.6px;
    }

}

@media only screen and (max-width: 768px) {
    li {
        display: block;
    }
}