/*-----------------------google fonts */


/*-----------------------universal styling */


/*-----------------------colours */

#home {
    background-color: #DBDCDE;
    color: #773815;
}

.opening-times,
.about {
    background-color: #BFB298;
}

/*-----------------------images */

.home {
    background-image: url(../images/inside-restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

